body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

text {
    text-anchor: middle;
    
}

.container {
    display:  flex; 
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-around;
}

.hidden {
    opacity:0;
}

.stroke {
  stroke: black;
  stroke-width: 4px;
  opacity: 1;
}

#c1 {
    fill: #0FA3B1;
}

#c2 {
    fill: #EDDEA4;
}

#c3 {
    fill: #F7A072;
}

#clicks {
  position: relative;
  transform: translate(50%, 52%);
}